body {
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    min-height: 100vh;
}

.color-app {
    background-color: #f4f9f9;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.color-preview {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #000;
}

#colorBoxFinal {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    border: 2px solid #000;
}